@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

:root {
    --primary-color-1: #546e7a;
    --primary-color-2: #607d8b;
    --header-height: 10vh;
}

* {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    // font-family: monospace;
    font-weight: 300;
    color: white;
}

header {
    position: fixed;
    z-index: 10;
    height: var(--header-height);
    width: 100%;
    background: #29434e;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .logo{
        font-size: 2em;
        padding-left: 2em;

        a {
            text-decoration: none;
        }
    }

    nav ul {
        display: flex;
        list-style: none;
        font-size: 1.5em;

        li {
            padding: 0 2em;
            a {
                text-decoration: none;
            }
        }
    }
}

section#hero {
    background: var(--primary-color-1);
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    #hero-line-1 h1 {
        font-size: 20vh;
        display: block;
        // text-align: center;
    }

    #hero-line-2 h2 {
        font-size: 10vh;
        display: block;
    }

    #nav-arrows {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        // font-size: 3em;

        span {
            font-size: 3em;
        }
    }
    
}

section#portfolio {
    background: var(--primary-color-2);
    min-height: 100vh;
    padding-top: var(--header-height);

    #portfolio-grid {
        display: grid;
        justify-items: center;
        justify-content: center;
        gap: 5em 5em;
        grid-template-areas: 
            "portfolio-item-1-img   portfolio-item-1-text"
            "portfolio-item-2-text   portfolio-item-2-img";

        .portfolio-grid-items {
            background: chocolate;
            width: 30vw;
            height: 300px;
        }

        .portfolio-grid-items-text {

        }

        .portfolio-grid-items-img {

        }

        #portfolio-item-1-img {
            grid-area: portfolio-item-1-img;
        }

        #portfolio-item-1-text {
            grid-area: portfolio-item-1-text;
        }

        #portfolio-item-2-img {
            grid-area: portfolio-item-2-img;
        }

        #portfolio-item-2-text {
            grid-area: portfolio-item-2-text;
        }
    }
}

section#contact {
    background: var(--primary-color-1);
    height: 100vh;
}

// section#item-1 {
//     background: var(--primary-color-2);
//     height: 100vh;
// }

// section#item-2 {
//     background: var(--primary-color-1);
//     height: 100vh;
// }

// section#item-3 {
//     background: var(--primary-color-2);
//     height: 100vh;
// }

// section#item-4 {
//     background: var(--primary-color-1);
//     height: 100vh;
// }